


    .button{
      width: 100%;
     cursor: pointer;
      transition: background-color 0.5s ease;
      background-color:black;
      color: white;
    }
    .button:hover{
      background-color: green;
    }


